@model IEnumerable<EquiposModel>
<table id="tbListadoEquipos" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>PaisId</th>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var equipos in Model)
        {
            <tr>
                <td>@equipos.Id</td>
                <td>@equipos.PaisId</td>
                <td>@equipos.Nombre</td>
                
                <td>
                    <button class="btn btn-warning btnEditarEquipos"data-id="@equipos.Id">
                        Editar
                    </button>
                    <button class="btn btn-danger btnEliminarEquipos"data-id="@equipos.Id">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
                        
    </tbody>
</table>

<script>
    loadTable()
    function loadTable(){
        var table = $('#tbListadoEquipos').DataTable({
            lengthChange: false,
            buttons:['copy','excel','pdf','colvis']
        });
        table.buttons().container().insertBefore("#tbListadoEquipos_filter");
    }
</script>
